.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .left-section, .right-section {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .container::before {
    content: "";
    border-right: 5px solid black;
    height: 100vh;
    position: absolute;
    left: 45%;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 2px;
  }