main{
    z-index: -1;
}

main {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.slider-container {
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;
}


input {

    appearance: none;
    position: relative;
    z-index: 180;
    width: 50px;
    height: 6px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #ffffff34;
    transition: 0.3s;
}

input:checked {
    background-color: #fff;
    transition: 0.5s;
}

input:hover {
    transform: scale(1.1);
    background-color: #555;
    transition: 0.3s;
}

input:checked:hover{
    background-color: #fff;
}

.slide-img {
    width: 100vw;
    height: 100%;
    position: absolute;
    opacity: 0;
    filter: blur(20px);
    left: 0;
    top: 0;
    z-index: 1;
    transform: scale(0.8);
}


.slide-bouton {
    position: absolute;
    left: 5%;
    top: 350px;
    color: #555;
    z-index: 101;
    opacity: 0;
    transform: translateX(-150%);
    filter: blur(20px);
    text-decoration: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: 'nunito', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    padding: 8px;
    border-radius: 2px;
    transition: 0.2s;
    animation: partbtn 1s linear 1 forwards;
}

.slide-bouton:hover {
    color: #eee;
    background-color: #555;
    transition: 0.2s;

}

.input:checked+.slide-img,
.input:checked+img+h2,
.input:checked+img+h2+h1,
.input:checked+img+h2+h1+p,
.input:checked+img+h2+h1+p+a {
    animation: arrive 1s linear 1 forwards;
}

@keyframes arrive {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translate(0);
        z-index: 100;
    }

}

.input:checked+img+h2 {
    animation-delay: .7s;
}

.input:checked+img+h2+h1 {
    animation-delay: 1.2s;
}

.input:checked+img+h2+h1+p {
    animation-delay: 1.7s;
}

.input:checked+img+h2+h1+p+a {
    animation-delay: 2.2s;
}

.time {
    width: 0;
    height: 3px;
    background-color: #a629ff;
    position: absolute;
    top: 120px;
    right: 0;
    z-index: 150;
}

.input:checked+img+h2+h1+p+a+.time {

    animation: timeline 3s linear 1 forwards;

}

@keyframes timeline {
    to {


        width: 100%;


    }

}