*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 0;
    background-color: black;
    font-family: "a-otf-ud-reimin-pr6n", sans-serif;
    
}

main .slide-img{
    width: 100vw;
    height: 100vh;
    opacity: 0;
    filter: blur(10px);
    transition: 1s;
}

main img{
    transform: translateX(100vw);
    transition: 1s;
}

main video{
    transform: translateX(-100vw);
    transition: 1s;
}

main input{
    position: absolute;
    bottom: 5%;
    z-index: 20;
    appearance: none;
    width: 3%;
    height: 8px;
    background-color: rgba(148, 148, 148, 0.782);
    border-radius: 3px;
    cursor: pointer;
    
}

main input:checked{
    background-color: rgba(255, 255, 255, 0.827);
}

main #checkbox2{
    left: 48%;
}

main #checkbox1{
    left: 52%;
}

main #checkbox1:checked ~ img, main #checkbox2:checked ~ video{
    opacity: 1;
    filter: blur(0);
    transition: 1s;
}

main #checkbox1:checked ~ img{
    transform: translateX(50vw);
}

main #checkbox2:checked ~ video{
    transform: translateX(-50vw);
}

main h1, main a{
    position: absolute;
    color: white;
    left: 8%;
    z-index: 50;
}

main h1{
    top:50%;
    text-shadow: black 4px 4px 3px;
}

main a {
    top:65%;
    font-family: "a-otf-ud-reimin-pr6n", sans-serif;
    background-color: #1b212f;
    text-align: center;
    padding: 7px;
    border-radius: 3px;
    box-shadow: black 5px 5px 5px;
    transition: .2s;
}

main a:hover{
    background: none;
    color: white;
    border: solid white 1px;
    transition: .2s;
    box-shadow: none;
}