 main {
background-image: url('/blom/public/images/contact/beerbottle.png');
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
 }
  
  
.icons



  button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;

  }
  
  .container {
    flex: 0 1 950px;
    margin: auto;
    padding: 10px;
 
 
  }
  
  .screen {
    position: relative;
    background: #3e3e3e69;
    backdrop-filter: blur(15px);
    border-radius: 10px; 
  }
  
   
  .screen-body {
    display: flex;
   
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  
   
  }
  

/* icons and stuff */ 



.social-icons a {
  color: #fff;
  margin-right: 10px;
}


#reseaux {
  display: block;
  margin-block-start: 1em;  
  margin-block-end: 1em;
  margin-inline-start: 35px;
  margin-inline-end: 35px;
}


/* style pour les icons */ 
 .icons img {
   width: 10%;
   height: 10%;
 }

 .icons ul {
   list-style-type: none;
 }


 .icons ul li {
   display: inline-block;
 }

 #reseau {
   align-items: center;
 }


  /* text & content */

  .yap {
    margin-top: 25px;
    font-size: 14px;
    color: #ffffff;
    font-family: "a-otf-ud-reimin-pr6n", sans-serif;
   }
 

  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ffffff;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: linear-gradient(to bottom left, #DAA520 , #e4d09c, #DAA520);
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 12px;
    color: #ffffff;
    font-family: "athena", sans-serif;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
    word-spacing: 20px;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #999999;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #DAA520;
  }
  

  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  