 main {
   background-image: url('/blom/public/images/contact/beerbottle.png');
   background-repeat: no-repeat;
   background-size: cover;
   width: 100vw;
 }

 body {
   overflow: hidden;

 }


 button,
 input {
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   letter-spacing: 1.4px;
 }

 .background {
   display: flex;
   min-height: 100vh;

 }

 .container {
   flex: 0 1 950px;
   margin: auto;
   padding: 10px;

 }

 .screen {
   position: relative;
   background: #3e3e3e69;
   backdrop-filter: blur(15px);
   border-radius: 10px;
 }


 .screen-body {
   display: flex;

 }

 .screen-body-item {
   flex: 1;
   padding: 50px;
 }

 .screen-body-item.left {
   display: flex;
   flex-direction: column;


 }


 /* icons and stuff */



 .icons {
   width: auto;
   height: auto;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   align-content: center;
   margin-top: 10px;
   gap: 10px;
 }

 .icons img {
   width: 25px;
   height: 25px;
 }

 /* text & content */

 .yap {
   margin-top: 25px;
   font-size: 14px;
   color: #ffffff;
   font-family: "a-otf-ud-reimin-pr6n", sans-serif;
 }


 .app-title {
   display: flex;
   flex-direction: column;
   position: relative;
   color: #ffffff;
   font-size: 26px;
   font-weight: 100;
   font-family: "athena", sans-serif;
 }

 .app-title:after {
   content: '';
   display: block;
   position: absolute;
   left: 0;
   bottom: -10px;
   width: 25px;
   height: 4px;
   background: linear-gradient(to bottom left, #DAA520, #e7d8b2, #DAA520);
 }

 .app-contact {
   margin-top: 10px;
   font-size: 15px;
   color: #ffffff;
   font-family: "athena", sans-serif;
 }

 .app-form-group {
   margin-bottom: 15px;
 }

 .app-form-group.message {
   margin-top: 40px;
 }

 .app-form-group.buttons {
   margin-bottom: 0;
   text-align: right;
   word-spacing: 20px;
 }

 .app-form-control {
   width: 100%;
   font-family: "a-otf-ud-reimin-pr6n", sans-serif;

   padding: 10px 0;
   background: none;
   border: none;
   border-bottom: 1px solid #666;
   color: #ddd;
   font-size: 14px;
   text-transform: uppercase;
   outline: none;
   transition: border-color .2s;
 }

 .app-form-control::placeholder {
   color: #999999;
 }

 .app-form-control:focus {
   border-bottom-color: #ddd;
 }

 .app-form-button {
   background: none;
   border: none;
   color: #ffffff;
   font-size: 14px;
   cursor: pointer;
   outline: none;
 }

 .app-form-button:hover {
   color: #ebcf87;
 }



 .dribbble {
   width: 20px;
   height: 20px;
   margin: 0 5px;
 }

 @media screen and (max-width: 520px) {
   .screen-body {
     flex-direction: column;
   }

   .screen-body-item.left {
     margin-bottom: 30px;
   }

   .app-title {
     flex-direction: row;
   }

   .app-title span {
     margin-right: 12px;
   }

   .app-title:after {
     display: none;
   }
 }

 @media screen and (max-width: 600px) {
   .screen-body {
     padding: 40px;
   }

   .screen-body-item {
     padding: 0;
   }
 }