footer{
    width: 100%;
    height: 50px;
    background-color: white;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    align-content: center;
   padding: 0 10%;
   position: static;
   overflow: hidden;
   font-size: 80%;
   z-index: 100;
}

footer a{
    color: #1b212f;
}
.logo_inverse{
    width: 60%;
    height: auto;
}