* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;


}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

}

nav {

    background-color: #1b212f;
    text-align: center;
    height: 100px;
    width: 98%;
    display: grid;
    grid-template-columns: 12% 12% 50% 25%;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-top: 1%;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    z-index: 100;
    padding-right: 3%;

}

.nav.anime{
animation: header 2s linear 1 forwards;
}

@keyframes header {
    0%{
        transform: translateY(-200px);
    }

    10%{
        transform: translateY(0);
    }

    20%{
        transform: translateY(-150px);
    }
}


nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    grid-column: 4/5;

}

.menu {
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
    transition: .5s;
}

.checkbox{
    display: block;
    position: absolute;
    z-index: 10;
    width: 40px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
}

.menu .line1, .menu .line2, .menu .line3{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 1px;
    transition: 0.3s;
}



.checkbox:checked ~ .menu, .checkbox:checked:hover ~ .menu{
    gap: 0;
}

.checkbox:checked ~ .menu .line2{
    opacity: 0;
    transition: 0.3s;
    width: 100%;
}

.checkbox:checked ~ .menu .line1{
    transform: rotate(45deg) translateY(4px);
    transition: 0.3s;
    width: 100%;
}

.checkbox:checked ~ .menu .line3{
    transform: rotate(-45deg) translateY(-4px);
    transition: 0.3s;
    width: 100%;
}

.checkbox:hover ~ .menu{
    gap: 12px;
    transition: .5s;
}


.logo, .logo img{
    width: auto;
    height: 100px;
}

.logo{
    grid-column: 3/4;
}

.panier{
    width: 40px;
    height: auto;
}

.recherche{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.recherche button{
    width: 35px;
    height: 35px;
    background-color: white;
    border: none;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.2s;
}

.recherche input{
    background-color: white;
    border: none;
    padding: 0 3px;
    width: 85%;
    height: 35px;
    color: #1b212f;
    font-family: "a-otf-ud-reimin-pr6n", sans-serif;
    font-weight: 400;
    border-radius: 5px 0 0 5px;
}

.recherche input:focus{
    outline: none;

}

.recherche input:focus::placeholder{
    opacity: 0;
}

.recherche input::placeholder{
    color: #1b212f6b;
}



/*******************************************************************MENU BURGER**************************************************/

.menu_burger.ouvert{
    opacity: 1;
    filter: blur(0);
    transition: filter .5s, opacity .5s;
    z-index: 90;
}

.menu_burger.ferme{
    width: 0;
}

.panneau.ouvert{
    transform: translateX(0);
    transition-delay: 0.3s;
    transition: 0.5s;
}

.promo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 20%;
    right: 5%;
    width: 60%;
    height: 70%;
    gap: 20%;
}

.promo1.ouvert, .promo2.ouvert{
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    transition: 0.5s;
    width: 27%;
    height: 80%;
    background-color: #1b212f;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    padding-bottom: 8%;
    box-shadow: black 5px 5px 20px;
}

.promo img{
    width: 100%;
    height: auto;
}

.promo1, .promo2{
    filter: blur(20px);
    transform: scale(0.5);
    opacity: 0;
    transition: 0.5s;
}

.promo1:hover, .promo2:hover{
    transform: scale(1.05);
    transition: .2s;
}

.menu_burger{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.536);
    opacity: 0;
    filter: blur(50px);
    transition: filter .5s, opacity .5s;
    z-index: 0;

}

.menu_burger ul{
    background-image: url('/blom/public/images/header/menu.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
    padding: 12% 0 0 5%;
    transform: translateX(-110vw);
    transition: 0.5s;


}

.menu_burger ul li{
    margin-bottom: 5%;

}

.menu_burger ul li a{
    color: rgb(188, 188, 188);
    font-family: "a-otf-ud-reimin-pr6n", sans-serif;
    font-weight: 400;
    font-size: 110%;
    width: auto;
    position: relative;
}

.menu_burger ul li a:hover{
    color: white;

}