.boite {
    display: inline-block;
    width: 22.5%;
    margin: 1%;
    border: 2px solid black;
    background-color: rgb(205 205 205 / 81%);
    text-align: center;
    margin-bottom: 10px;
    padding: 1%;
    box-shadow: 7px 7px 4px 0px gray;
    vertical-align: top;
    height: 290px;
}
.images{
    width: 100%;
}
main{
    margin:0 15% ;
}