.boite {
    display: inline-block;
    width: 22.5%;
    margin: 1%;
    border-radius: 7px 30px;
    background-color: #1b212f;
    text-align: center;
    margin-bottom: 10px;
    padding: 1%;
    box-shadow: 7px 7px 4px 0px gray;
    vertical-align: top;
    height: 290px;
    color: white;
    padding: 2px;
    transition: 0.2s;
}
.images{
    width: 100%;
}
main{
    margin:0 15% ;
    margin-top: 150px;
    margin-bottom: 130px;
}
body{
    background-color: #F8F3D9;
}

.boite:hover{
    background:none;
    border: #1b212f 2px solid;
    color: #1b212f;
    padding: 0;
    transition: 0.2s;

}