body{
    overflow-x: hidden;
}

.boite {
    display: grid;
    border-radius: 7px 30px;
    background-color: #1b212f;
    text-align: center;
    box-shadow: 7px 7px 4px 0px gray;
    height: 290px;
    width: 220px;
    color: white;
    padding: 2px;
    margin: 5px;
    transition: 0.2s;
}
.images{
    height: 200px;
    margin: auto;
}
main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    background-color: #F8F3D9;
    padding: 200px 0;
}
.boite:hover{
    background:none;
    border: #1b212f 2px solid;
    color: #1b212f;
    padding: 0;
    transition: 0.2s;

}