* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F3D9;
}

main {
    z-index: 0;
    display: flex;
    justify-content: center;
    gap: 8%;
    height: 100%;
    width: 90%;
    margin: 180px 0 110px 0;
    flex-wrap: wrap;
    align-items: end;
}

.Categorie {
    font-size: 30px;
    text-align: center;
    width: 250px;
    height: 400px;
    background-color: #1B212F;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    padding-bottom: 15%;
    box-shadow: black 3px 3px 7px;
    margin-bottom: 10px;
    transition: 1s;

}

.Categorie:hover {
    transform: scale(0.97);
    box-shadow: none;
}

.Categorie.anime{
    opacity: 0;
    filter: blur(5px);
    transform: scaleX(0.7);

}

.line.anime{
    transform: scaleX(0);
    
}


.Categorie img {
    margin-top: 30%;
}

#lots {
    height: 65%;
    width: auto;
    margin: 0;
}

#unique {
    height: 65%;
    width: auto;
    margin: 0;
}

#points {
    width: 60%;
}

#offres {
    height: 35%;
    width: 80%;
}

.line {
    background-color: white;
    height: 3px;
    width: 30%;
    border-radius: 2px;
    transition-delay: 3s;
    transition: 1s;
}
