main{
  background-color: #F8F3D9;
}

main .container {
  display: flex;
  justify-content: center;
  width: 100%;
}

main .left,
main .right {
  width: 45%;
  padding: 100px;
  box-sizing: border-box;
  margin: 150px 0;
}

main .right {
  font-family: "a-otf-ud-reimin-pr6n", sans-serif;
  border-left: black solid 2px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .left {
  font-family: "athena", sans-serif;
  font-weight: 300;
  border-right: black solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

main {
  z-index: -1;
}

main .grosparent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  align-content: start;
  gap: 20px;
  margin: 50px auto;
  width: 80%;
}

main .grosparent > div {
  padding: 20px;
}

main .histoire img {
  height: auto;
  width: 25%;
}

main .equipe img {
  height: auto;
  width: 21%;
}
main .grosparent>div{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "a-otf-ud-reimin-pr6n", sans-serif;
}

main .savoirfaire img {
  height: auto;
  width: 15.5%;

}

main .histoire {
  border: 3px solid ;
}

main .equipe {
  border: 3px solid ;
}

main .savoirfaire {
  border: 3px solid ;
}

main .grosparent>div:hover {
box-shadow: 10px 5px 5px rgba(87, 87, 87, 0.386);
border: 5px solid;
}
