.container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .left, .right {
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
  }
  

.right {
    font-family: "a-otf-ud-reimin-pr6n", sans-serif;
    border-left: black solid 5px;
}

.left {
    font-family: "athena", sans-serif;
    font-weight:300;
    border-right: black solid 5px;
}

main {
    z-index: 0;
}