main {
  background-color: #F8F3D9;
  padding-top: 150px;
  overflow-x: hidden;
}

main .container {
  display: flex;
  justify-content: center;
  width: 100%;
}

main .left,
main .right {
  width: 45%;
  padding: 100px;
  box-sizing: border-box;
  transition: 1s;
}

main .right {
  font-family: "a-otf-ud-reimin-pr6n", sans-serif;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .line {
  width: 3px;
  height: 500px;
  background-color: #1b212f;
  border-radius: 3px;
  transition: .5s;
}

main .left {
  font-family: "athena", sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

main .grosparent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  align-content: start;
  gap: 8%;
  margin: 50px auto;
  width: 80%;
}

main .grp {
  padding: 20px;
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "a-otf-ud-reimin-pr6n", sans-serif;
  color: white;
  background-color: #1b212f;
  border-radius: 35px 5px;
  transform: rotate(0);
  margin: 25% 0;
  transition: 1s;
}

main .grp:hover {
  transform: rotate(5deg);
}

main #savoirfaire img {
  height: auto;
  width: 15.5%;

}

.line {
  width: 20%;
  height: 3px;
  background-color: white;
}

.line.anime {
  transform: scaleY(0);
  opacity: 0;
}

.left.anime {
  transform: translateX(-100px);
  opacity: 0;
  filter: blur(10px);
}

.right.anime {
  transform: translateX(100px);
  opacity: 0;
  filter: blur(10px);
}

.grp.anime {
  transform: translateY(150px);
  opacity: 0;
  filter: blur(10px);
}

.vulga {
  width: 100%;
  background-color: #1b212f;
  padding: 8% 0;
  text-align: center;
}

.vulga img {
  width: 80%;
}

.vulga h1{
  color: white;
  font-size: 250%;
  text-align: left;
  margin: 0 0 10% 5% ;
  font-weight: 500;
}