main .container {
  display: flex;
  justify-content: center;
  width: 100%;
}

main .left,
main .right {
  width: 45%;
  padding: 100px;
  box-sizing: border-box;
  margin: 150px 0;
}

main .right {
  font-family: "a-otf-ud-reimin-pr6n", sans-serif;
  border-left: black solid 2px;
  height: 70vh;
}

main .left {
  font-family: "athena", sans-serif;
  font-weight: 300;
  border-right: black solid 3px;
}

main {
  z-index: -1;
}

main .grosparent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
  align-content: start;
  gap: 20px;
  margin: 50px 0;
}

main .grosparent > div {
  padding: 20px;
}

main .histoire img {
  height: auto;
  width: 25%;
}

main .equipe img {
  height: 100px;
  width: 100px;
}

main .savoirfaire img {
  height: auto;
  width: 25%;
}