table {
    border-collapse: collapse;
  }
  
  td {
    padding: 10px;
    text-align: center;
  }
  
  img {
    border-radius: 50%;
    margin-bottom: 10px;
  }

  body {
    margin-top: 250px;
  }

  body{
    background-color: #F8F3D9;
  }

  