* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .case1 , .case2 , .case3 , .case4 , .case5 , .case6 , .case7 , .case8 {
    width: 150px; 
    height: 150px; 
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding: 10px; 
    margin: 10px; 
    display: inline-block; 
    text-align: center; 
  }
  
  .case b {
    font-size: 18px; 
  }
  
  
  body {
    margin-top: 250px;
    background-color: #F8F3D9;
  }
  
  main {
    height: 100vh;
    margin-bottom: 390px;
  }