* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.case{
    width: 300px;
    height: 250px;
    background: #1b212f ;
    text-align: center;
    display: flex;
    border-radius: 35px 5px ;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10%;
    cursor: default ;
    padding: 3px;
    box-shadow: black 5px 5px 10px;
    transition: 1s;
}

main{
    display:grid ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    align-content: center;
    background-color: #F8F3D9;
    padding: 200px 3% 5% 3%;
    width: 100vw;
}

.case:hover .verso{
    opacity: 1;
    display: flex;
    filter: blur(0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    gap: 5%;
    position: relative;
    transition: 1s;
    
}




.case.va:hover {
    background: #F8F3D9;
    transition: 1s;
    
}
.case.va:hover b, .case.va:hover p{
    color: #1b212f;
    transition: 1s;
}

.case.ya:hover {
    background: #F1A966;
    transition: 1s;
}

.case.sa:hover {
    background: #70965A;
    transition: 1s;
}

.case.lu:hover {
    background: #ED6A7A;
    transition: 1s;
}

.case:hover {
    background: linear-gradient(to top left, white, #DAA520, #edd9a4, #DAA520);
    border: 3px solid white;
    transition: 1s;
    animation: secou .5s linear 1 forwards;
}

@keyframes secou {
    20%, 60%{
        transform: translateX(20px);
        filter: blur(5px);
    }

    0%, 40%, 80%{
        transform: translateX(-20px);
        filter: blur(5px);
    }

    100%{
        transform: translateX(0);
    }

}

.case b {
    font-size: 280%;
    display: flex;
    justify-content: center;
    font-family: "athena", sans-serif;
    font-weight: 100;
    color: white;
}


.case p{
color: white;
font-size: 130%;
}


.verso{
    opacity: 0;
    position: absolute;
    filter: blur(10px);
    transition: 1s;
}

.anime.haut.case{
    opacity: 0;
    filter: blur(10px);
    transform: translateY(-100px);
}

.anime.bas.case{
    opacity: 0;
    filter: blur(10px);
    transform: translateY(100px);
}